@use "sass:color";
@import "../../components/styles.scss";

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fff;
  width: 375px;
  margin: 0 auto;

  @media (max-width: 500px) {
    width: 100%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 14px 8px;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 10;

  h1 {
    font-size: 27px;
    color: $primary-blue;
    font-weight: 400;
    text-align: left;
  }
}

.formContainer {
  background: #fff;
  position: relative;
  z-index: 2;
  padding: 14px;
}

.requestForm {
  display: flex;
  flex-direction: column;
  gap: 22.47px;

  .inputGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .label {
    font-size: 16px;
    color: $gray;
    margin: 0;
  }

  .inputField {
    width: 348px;
    height: 56.32px;
    border: 1px solid $gray;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
    padding: 10px;
    background-color: white;

    .MuiFormControl-root-MuiPickersTextField-root,
    .MuiPickersInputBase-root.MuiPickersOutlinedInput-root{
      border-radius: 17px;
    }

    &:focus {
      border-color: $primary-blue;
      box-shadow: 0 0 0 2px rgba(0, 83, 160, 0.2);
    }
  }

  .addRouteButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    margin-top: 19px;
    flex-direction: column;
    text-align: center;

    .addRoutePlus {
      width: 47px;
      height: 41px;
      border: 1px solid $primary-blue;
      background-color: rgba(0, 83, 160, 0.1);
      color: $primary-blue;
      border-radius: 17px;
      transition: transform 0.2s, background-color 0.3s, color 0.3s;

      &:hover {
        background-color: $accent-green;
        color: white;
        border-color: $accent-green;

        svg {
          fill: white;
        }
      }

      svg {
        font-size: 24px;
      }
    }

    p {
      font-size: 14px;
      color: $gray;
    }
  }

  .submitButton {
    background-color: $primary-blue;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 17px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 348px;
    height: 56.32px;
    font-weight: 400;
    // text-transform: uppercase;
    // letter-spacing: 0.5px;

    &:hover {
      background-color: color.adjust($primary-blue, $lightness: -10%);
    }
  }
}