@use "sass:color";
@import "../../components/styles.scss";

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fff; 
  width: 375px;
  margin: 0 auto;

  @media (max-width: 500px) {
    width: 100%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 14px 8px;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 10;

  h1 {
    font-size: 27px;
    color: $primary-blue;
    font-weight: 400;
    text-align: left; 
  }
}

.formContainer {
  background: #fff;
  position: relative;
  z-index: 2;
  padding: 14px;
}

.requestForm {
  display: flex;
  flex-direction: column;

  .label {
    font-size: 16px;
    color: $gray;
    margin-bottom: 10px;
    font-weight: 500;
  }

  .MuiInputBase-root {
    width: 348px; 
    height: 56.32px; 
    border: 1px solid $gray;
    border-radius: 17px;
    font-size: 16px;
    box-sizing: border-box;
    padding: 10px;

    &:focus {
      border-color: $input-focus;
      box-shadow: 0 0 0 2px rgba(0, 83, 160, 0.2); 
    }
  }

  .MuiFormControl-root {
    margin: 0; 
  }

  .addRouteButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    flex-direction: column;
    text-align: center;

    .MuiIconButton-root {
      width: 24px;
      height: 24px;
      border: 1px dashed $primary-blue;
      background-color: rgba(0, 83, 160, 0.1);
      color: $primary-blue;
      border-radius: 50%;
      transition: transform 0.2s;

      &:hover {
        fill: $accent-green;
        color: white;
      }
    }

    p {
      font-size: 16px;
      color: $gray;
    }
  }

  button {
    background-color: $primary-blue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 17px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 348px ;
    height: 56.32px ;
    font-weight: 400;
    // text-transform: uppercase;
    // letter-spacing: 0.5px;

    &:hover {
      background-color: darken($primary-blue, 10%); 
    }
  }
}