// Цвета
$primary-blue: #0F4F8D;
$accent-yellow: #FFDD2D;
$background-gray: #f1f5f9;
$accent-yellow: #FFDD2D;
$gray: #696969;
$text-dark: #050505;
$shadow-gray: rgba(0, 0, 0, 0.1);
$accent-green: #8BC97E;
$input-focus: #0053A0;

// Глобальные стили
* {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}